stages:
  - build
  - test
  - deploy

variables:
  IMAGE_TAG: registry.gitlab.com/$CI_PROJECT_PATH/backend-meeting-analysis:$CI_COMMIT_SHORT_SHA
  MOCK_MODE: "true"
  OPENROUTER_API_KEY: $OPENROUTER_API_KEY
  CLOUDAMQP_URL: $CLOUDAMQP_URL

build:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  script:
    - docker build -t "$IMAGE_TAG" .
    - docker push "$IMAGE_TAG"

test:
  stage: test
  image: python:3.12
  before_script:
    - pip install -r requirements.txt
    - pip install pytest
  script:
    - export PYTHONPATH=.
    - pytest --junitxml=report.xml
  artifacts:
    reports:
      junit: report.xml

deploy:
  stage: deploy
  image: mcr.microsoft.com/azure-cli
  script:
  - az login --service-principal --username "$AZURE_CLIENT_ID" --password="$AZURE_CLIENT_SECRET" --tenant "$AZURE_TENANT_ID"
  - az container delete --name "$AZURE_CONTAINER_NAME" --resource-group "$AZURE_RESOURCE_GROUP" --yes || true
  - az container create
      --name "$AZURE_CONTAINER_NAME"
      --resource-group "$AZURE_RESOURCE_GROUP"
      --image "$IMAGE_TAG"
      --registry-login-server registry.gitlab.com
      --registry-username "$CI_REGISTRY_USER"
      --registry-password "$CI_REGISTRY_PASSWORD"
      --cpu 1
      --memory 1.5
      --restart-policy Always
      --location "$AZURE_CONTAINER_REGION"
      --ports 8080
      --os-type Linux
      --ip-address public
      --dns-name-label "meeting-parser-${CI_COMMIT_SHORT_SHA}"
      --environment-variables OPENROUTER_API_KEY=$OPENROUTER_API_KEY CLOUDAMQP_URL=$CLOUDAMQP_URL MOCK_MODE=false

  only:
    - main